body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f5f7fa; /* Light grey background for a modern look */
    color: #333; /* Dark grey color for text for better readability */
}

#main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

#weather-other {
    margin-top: 30px;
}

p5 {
    font-size: larger; 
    font-weight: bold;
    color: #1e81b0;
}

h1 {
    color: #1e81b0;
    font-weight: bold;
}

.weatherOtherDiv i {
    margin-right: 8px;
}


#weather-info {
    width: 50%;
}

#weather-details {
    width: 50%;
    text-align: right;
}

input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 20px;
    margin-right: 10px;
    width: 40%;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #1e81b0; /* A nice shade of blue */
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #166f99;
}

#forecast {
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin-bottom: 60px; /* Adjust this value so the forecast doesn't overlap the footer */
    border-radius: 8px;
    background: #ffffff;
}

#hourly-forecast-container, #forecast-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hour-forecast, .day-forecast {
    background: #ffffff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin: 10px;
    flex-grow: 1;
    text-align: center;
    transition: transform 0.3s ease;
}

.hour-forecast:hover, .day-forecast:hover {
    transform: translateY(-5px); /* Subtle hover effect */
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #1e81b0; /* Keep consistent with the button color */
    color: white;
    text-align: center;
    padding: 10px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2); /* Adds shadow to the top of the footer */
}

@media (max-width: 768px) {
    #main {
        flex-direction: column;
    }

    #weather-info, #weather-details {
        width: 100%;
        text-align: center;
    }

    button {
        width: auto;
        margin-top: 10px;
    }

    #forecast {
        margin: 20px 0;
    }
}


